@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error con la API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-pzjw8f+ua6UYK4gW+6+Xq6DmPJvFq5d6q5TOeNV6gbiFeWPGmBhB8er5L3h6vpf" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Error con la API</h1>
        <p>La API está cargando, por favor vuelva a intentarlo</p>
        
    </div>
</body>
</html>
